{% load static %}
{% load jalali_tags %}
{% load comment_extras %}
{% load custom_tags %}

<link rel="stylesheet" href="{% static 'comments/css/comments-section.css' %}">

<div class="comment-section">
    <h2>نظرات</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% for comment in comments %}
        <div class="comment">
        <div class="avatar">
            {% if comment.user.avatar %}
                <img src="{{ comment.user.avatar.url }}" alt="User Avatar">
            {% else %}
                <img src="{% static 'img/user-avatar.png' %}" alt="User Avatar">
            {% endif %}
        </div>
        <div class="comment-content">
            {% if comment.user.get_full_name %}
                <p class="username">{{ comment.user.get_full_name }}</p>
            {% else %}
                <p class="username">{{ comment.user }}</p>
            {% endif %}
            <p class="text">{{ comment.content }}</p>
            <p class="comment-datetime">{{ comment.created_at|to_jalali:'%Y/%m/%d - %H:%M:%S'|to_persian }} &nbsp;| &nbsp;</p>
        
            {% if user.is_authenticated %}
                <button class="reply-button">پاسخ</button>
            {% endif %}

            <form method="post" action="{% url 'comments:submit_reply_comment' %}">
                {% csrf_token %}
                <div class="reply-section">
                    <textarea id="content" name="content" rows="4" required style="margin-right: -5px;" class="text-input"></textarea>
                    <button class="submit-reply">ارسال</button>
                    <input type="hidden" name="comment" value="{{ comment.id }}"/>
                </div>
            </form>
            {% for reply in comment.replies.all|is_accepted %}
                <div class="comment">
                <div class="avatar">
                    {% if reply.user.avatar %}
                        <img src="{{ reply.user.avatar.url }}" alt="User Avatar">
                    {% else %}
                        <img src="{% static 'img/user-avatar.png' %}" alt="User Avatar">
                    {% endif %}
                </div>
                <div class="comment-content">
                    {% if reply.user.get_full_name %}
                        <p class="username">{{ reply.user.get_full_name }}</p>
                    {% else %}
                        <p class="username">{{ reply.user }}</p>
                    {% endif %}
                    <p class="text">{{ reply.content }}</p>
                    <p class="comment-datetime">{{ reply.created_at|to_jalali:'%Y/%m/%d - %H:%M:%S'|to_persian }}</p>
                </div>
                </div>
            {% endfor %}
        </div>
        </div>
    {% empty %}
        <br><h5 align="center">اولین نفری باشید که نظری می نویسد !</h5>
    {% endfor %}

    <br>
    <div class="comment-form">
    {% if user.is_authenticated %}
        <h2>نظر خود را ثبت کنید</h2>
        <form method="post" action="{% url 'comments:submit_comment' %}">
            {% csrf_token %}
            <div class="input-field">
                <label for="content">نظر شما</label>
                <textarea id="content" name="content" rows="4" required style="margin-right: -5px;"></textarea>
            </div>
            <button type="submit">ارسال</button>
        </form>
    {% else %}
        <a href="{% url 'accounts:login' %}">برای نظر دادن لطفا وارد حساب کاربری خود شوید</a>
    {% endif %}
    </div>

</div>

<script src="{% static 'comments/js/comments-section.js' %}"></script>