{% extends 'home/base.html' %}
{% load static %}

{% block title %}کافه کد - لذت یادگیری{% endblock %}

{% block content %}
    <!-- Carousel Start -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
           <img class="d-block w-100" src="{% static 'img/home.jpg' %}" alt="First slide">
          </div>
        </div>
      </div>
    <!-- Carousel End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3" style="border-radius: 30px">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">آموزش های اصولی</h5>
                            <p>آموزش های اصولی و ارائه نقشه راه های درست و هدایت دانشجو به مسیر مناسب</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3" style="border-radius: 30px">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">کلاس های آنلاین</h5>
                            <p>کلاس های آنلاین با اساتید کاربلد و امکان پرسش و پاسخ با اساتید به صورت زنده</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3" style="border-radius: 30px">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">پروژه محور</h5>
                            <p>دوره های پروژه محور و انجام پروژه ها واقعی در تمامی دوره ها</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3" style="border-radius: 30px">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">آپدیت های ماهانه</h5>
                            <p>آپدیت های ماهانه دوره ها و بروز شدن دوره ها توسط اساتید</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/home-small.jpg' %}" alt="" style="object-fit: cover; border-radius: 30px">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">درباره ما</h6>
                    <h1 class="mb-4">به کافه کد خوش آمدید!</h1>
                    <p class="mb-4">ما اینجا در کافه کد به دنبال ارتقای سطح برنامه نویسان خوب کشورمون هستیم</p>
                    <p class="mb-4">دوره های کافه کد توسط کاربلد اساتید و بالاترین کیفیت تهیه میشن و از این بابت هیچ نگرانی نداشته باشید</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0">اساتید کاربلد</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0">کیفیت بالا</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0">آپدیت های ماهانه</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0">پروژه محور</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0">کلاس های آنلاین</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0">مدرک معتبر</p>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="" style="border-radius: 30px">بیشتر بخوانید</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">دوره ها</h6>
                <h1 class="mb-5">محبوب ترین دوره ها</h1>
            </div>
            {% include 'courses/course_card.html' with courses=courses %}
        </div>
    </div>
    <!-- Courses End -->
{% endblock content %}
