.cart-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

@media only screen and (max-width: 820px) {
  .cart-container {
    margin: 20px;
  }
}

.cart-header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

h1 {
  color: #fff;
}

.cart-items {
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 18px;
  color: #333;
}

.item-name:hover {
  color: #2e78e5;
}

.item-price {
  color: #888;
}

.item-quantity {
  font-size: 14px;
  color: #888;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  border-top: 1px solid #ddd;
}

.total-label {
  color: #333;
}

.total-amount {
  color: #27ae60;
}

.checkout-button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #27ae60;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #218c53;
  color: #fff;
}

.delete-button {
  background: none;
  border: none;
  color: #e74c3c; /* Red color */
  cursor: pointer;
  font-size: 18px;
  position: relative; /* Required for absolute positioning of label */
  transition: transform 0.5s ease; /* Adjust the duration for slower transition */
}

.delete-label {
  position: absolute;
  margin-left: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Adjust the duration for slower label fade-in */
}

.delete-button:hover .delete-label {
  opacity: 1; /* Show label on hover */
}

.delete-button:hover {
  text-decoration: underline;
  transform: scale(1.2); /* Scale the button on hover */
}

.empty-message, .temp-empty-message {
  text-align: center;
  font-size: 30px;
  margin: 50px;
}
