/* start comment section */
.comment-section {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: right;
}

.comment-section h2 {
    color: #333;
    text-align: center;
}

.comment-section .comment {
    display: flex;
    margin: 15px 0;
}

.comment-section .avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.comment-section .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-section .comment-content {
    margin-right: 15px;
}

.comment-section .username {
    font-weight: bolder;
    font-size: larger;
}

.comment-section .text {
    margin-top: 5px;
}

.comment-section .reply-button {
    /* background-color: #007bff; */
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: medium;
}

.comment-section .reply-button:hover {
    background-color: #7b7b7c;
    color: white;
}

.comment-section .comment-datetime {
    display: inline;
    color: rgb(177, 178, 179);
    font-size: 15px;
}

.comment-section .reply-section {
    display: none;
    margin-top: 10px;
    padding: 10px;
}

.comment-section .submit-reply {
    margin-top: 10px;
    color: white;
    background-color: #69C3A3;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: -6px;
}

.comment-section .submit-reply:hover {
    background-color: #49e5ae;
}

.comment-section textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
/* end comment section */

/* comment form */
.comment-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.comment-form h2 {
    color: #333;
}

.comment-form form {
    text-align: right;
}

.comment-form .input-field {
    margin: 15px;
}

.comment-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-form input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.comment-form button {
    background-color: #69C3A3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.comment-form button:hover {
    background-color: #49e5ae;
}
/* end comment form */