{% extends 'home/base.html' %}
{% load jalali_tags %}
{% load humanize %}
{%  load static %}

{% block title %}{{ course.title }}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <!-- Course Title -->
    <h1 class="title text-center" style="margin: 80px; font-size: 50px">{{ course.title }}</h1>
    <div class="row">
        <div class="col-lg-8 mb-4">
            <!-- Course Image -->
            <img src="{{ course.image.url }}" alt="Course Image" class="img-fluid rounded">
        </div>

        <div class="col-lg-4">
            <div class="course-details">
                <div>
                    <span><i class="fa fa-money-bill-wave course-details-icon"></i>قیمت</span>
                    <span>
                        <!-- Course Price -->
                        {% if course.price == 0 %}
                            <span class="course-details-price">رایگان</span>
                        {% else %}
                            <span class="course-details-price">{{ course.get_final_price|intcomma }} تومان </span>
                        {% endif %}
                    </span>
                </div>

                <div>
                    <span><i class="fa fa-clock course-details-icon"></i>طول دوره</span>
                    <span>
                        <!-- Course Duration -->
                        <span class="course-details-info">{{ duration }} ساعت</span>
                    </span>
                </div>


                <div>
                    <span><i class="fa fa-clock course-details-icon"></i>تاریخ شروع دوره</span>
                    <span>
                        <!-- Course Duration -->
                        <span class="course-details-info">
                            {{ course.created_date|to_jalali:'%Y/%m/%d' }}
                        </span>
                    </span>
                </div>

                <div>
                    <span><i class="fa fa-clock course-details-icon"></i>آخرین آپدیت دوره</span>
                    <span>
                        <!-- Course Duration -->
                        <span class="course-details-info">
                            {{ course.updated_date|to_jalali:'%Y/%m/%d' }}
                        </span>
                    </span>
                </div>

                <div>
                    <span><i class="fa fa-clock course-details-icon"></i>مدرس دوره</span>
                    <span>
                        <!-- Course Duration -->
                        <span class="course-details-info">{{ course.teacher.get_full_name }}</span>
                    </span>
                </div>

                <div>
                    <span><i class="fa fa-clock course-details-icon"></i>وضعیت دوره</span>
                    <span>
                        <!-- Course Duration -->
                        {% if course.status == 'going' %}
                            <span class="course-details-info">درحال برگزاری</span>
                        {% else %}
                            <span class="course-details-info">به اتمام رسیده</span>
                        {% endif %}
                    </span>
                </div>
                <hr>

                <!-- Register Course Button -->
                {% if access %}
                    <button class="btn btn-primary btn-lg btn-block" style="width: 100%">شما به این دوره دسترسی دارید</button>
                {% else %}
                    <a href="{% url 'courses:register_course' course.id %}" class="btn btn-primary btn-lg btn-block" style="width: 100%">ثبت نام</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Additional Course Details -->
    <div class="row mt-5">
        <div class="col-md-12" style="width: 95%; margin-right: 10px;">
            <h2>توضیحات دوره</h2>
            <p>{{ course.detail }}</p>
        </div>
    </div>

    <!-- Course Videos List -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 style="margin-right: 3%;">ویدئو ها</h2></br>
            <div class="course-list" style="float: right; width: 100%;">
                {% for chapter in course.chapter_set.all %}
                    <div class="chapter">
                        <div class="chapter-header">
                            <h2 class="chapter-title">{{ chapter.title }}</h2>
                            <span class="dropdown-toggle"></span>
                        </div>
                        <ul class="chapter-dropdown">
                            {% for video in chapter.video_set.all %}
                                <li>
                                    {% if access %}
                                        <a href="{{ video.video.url }}" style="color: #0dcaf0">{{ video.title }}</a>
                                        <a href="{{ video.video.url }}" style="margin: 10px;">
                                            <i class="bi bi-download" style="float: left;"></i>
                                        </a>
                                    {% else %}
                                        <a>{{ video.title }}</a>
                                        <i class="fa fa-lock" style="float: left;"></i>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <script src="{% static 'js/video-list.js' %}"></script>
        </div>
    </div>
</div>

{% endblock content %}