{% extends 'home/base.html' %}
{% load jalali_tags %}

{% block title %}{{ course.title }}{% endblock title %}

{% block content %}
<div class="container mt-5">
    <!-- Course Title -->
    <h1 class="title text-center" style="margin: 80px; font-size: 50px">{{ course.title }}</h1>
    <div class="row">
        <div class="col-lg-8 mb-4">
            <!-- Course Image -->
            <img src="{{ course.image.url }}" alt="Course Image" class="img-fluid rounded">
        </div>

        <div class="col-lg-4">
            <div class="course-details">
                <div>
                    <span><i class="fa fa-money-bill-wave course-details-icon"></i>قیمت</span>
                    <span>
                        <!-- Course Price -->
                        {% if course.price == 0 %}
                            <span class="course-details-price">رایگان</span>
                        {% else %}
                            <span class="course-details-price">{{ course.price }} تومان </span>
                        {% endif %}
                    </span>
                </div>

                <div>
                    <span><i class="fa fa-clock course-details-icon"></i>طول دوره</span>
                    <span>
                        <!-- Course Duration -->
                        <span class="course-details-info">{{ duration }} ساعت</span>
                    </span>
                </div>


                <div>
                    <span><i class="fa fa-clock course-details-icon"></i>تاریخ شروع دوره</span>
                    <span>
                        <!-- Course Duration -->
                        <span class="course-details-info">
                            {{ course.created_date|to_jalali:'%y/%m/%d' }}
                        </span>
                    </span>
                </div>

                <div>
                    <span><i class="fa fa-clock course-details-icon"></i>آخرین آپدیت دوره</span>
                    <span>
                        <!-- Course Duration -->
                        <span class="course-details-info">
                            {{ course.updated_date|to_jalali:'%y/%m/%d' }}
                        </span>
                    </span>
                </div>

                <div>
                    <span><i class="fa fa-clock course-details-icon"></i>مدرس دوره</span>
                    <span>
                        <!-- Course Duration -->
                        <span class="course-details-info">{{ course.teacher.get_full_name }}</span>
                    </span>
                </div>

                <div>
                    <span><i class="fa fa-clock course-details-icon"></i>وضعیت دوره</span>
                    <span>
                        <!-- Course Duration -->
                        {% if course.status == 'going' %}
                            <span class="course-details-info">درحال برگزاری</span>
                        {% else %}
                            <span class="course-details-info">به اتمام رسیده</span>
                        {% endif %}
                    </span>
                </div>
                <hr>

                <!-- Register Course Button -->
                {% if access %}
                    <button class="btn btn-primary btn-lg btn-block">شما به این دوره دسترسی دارید</button>
                {% else %}
                    <a href="{% url 'courses:register_course' course.id %}" class="btn btn-primary btn-lg btn-block" style="width: 100%">ثبت نام</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Additional Course Details -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>توضیحات دوره</h2>
            <p>{{ course.detail }}</p>
        </div>
    </div>

    <!-- Course Videos List -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>ویدئو ها</h2>
            <ul class="list-group" style="border-radius: 20px;">
                {% for video in course.videos.all %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {% if access%}
                        <a href="http://127.0.0.1:8000/media/{{ video.video }}">{{ video.title }}</a>
                        <i class="fa fa-unlock"></i>
                    {% else %}
                        <p>{{ video.title }}</p>
                        <i class="fa fa-lock"></i>
                    {% endif %}
                  </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}